<h1>Listing links</h1>

<button class="btn" id="circular">Circular layout</button>
<button class="btn" id="forceAtlas">Force atlas</button>
<button class="btn" id="amoFilter">Keep Amo' only</button>
<button class="btn" id="menFilter">Keep men only</button>
<button class="btn" id="womenFilter">Keep women only</button>
<button class="btn" id="inquiFilter">Keep inqui only</button>
<button class="btn" id="noFilter">No filter</button>
<br /><br />
<div id="searchForm" class="ui-widget">
  <label for="searchNode">Name : </label>
  <input id="searchNode" />
</div><br />
<%= collection_select :group, :name, Group.all, :name, :name, {:include_blank => true} %>
<br /><br />
<%= render "links/cerebro"%>

<div id="nodeinfo"></div>

<table>
  <thead>
    <tr>
      <th>From character</th>
      <th>To character</th>
      <th>Title</th>
      <th>Description</th>
      <th>Force</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.from_character %></td>
        <td><%= link.to_character %></td>
        <td><%= link.title %></td>
        <td><%= link.description %></td>
        <td><%= link.force %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
